
/* //////////////////////
   // ICONS */


img.img-ifc {
    height: 50px;
    float: right;
    margin: 20px;
}

.xbimTest-icon-vista-esquerda {
    background-image: url('../img/icons/vista-esquerda.png');
}
.xbimTest-icon-vista-direita {
    background-image: url('../img/icons/vista-direita.png');
}
.xbimTest-icon-vista-superior {
    background-image: url('../img/icons/vista-superior.png');
}
.xbimTest-icon-vista-frontal {
    background-image: url('../img/icons/vista-frontal.png');
}
.xbimTest-icon-vista-inferior {
    background-image: url('../img/icons/vista-inferior.png');
}
.xbimTest-icon-vista-posterior {
    background-image: url('../img/icons/vista-posterior.png');
}
.xbimTest-icon-transparencia {
    background-image: url('../img/icons/transparencia.png');
}
.xbimTest-icon-orbita {
    background-image: url('../img/icons/orbita.png');
}
.xbimTest-icon-orbita-livre {
    background-image: url('../img/icons/orbita_livre.png');
}
.xbimTest-icon-orbita-fixa {
    background-image: url('../img/icons/orbita_fixa.png');
}

.xbimTest-icon-zoom {
    background-image: url('../img/icons/zoom.png');
}

.xbimTest-icon-vista-predefinida {
    background-image: url('../img/icons/vista_predefinida.png');
}

.xbimTest-icon-pan {
    background-image: url('../img/icons/pan.png');
}

.xbimTest-icon-ortogonal {
    background-image: url('../img/icons/ortogonal.png');
}

.xbimTest-icon-show_hide {
    background-image: url('../img/icons/Show_Hide.png')
}

.xbimTest-icon-Esconder-objeto {
    background-image: url('../img/icons/Esconder-objeto.png');
}

.xbimTest-icon-Mostrar-tudo {
    background-image: url('../img/icons/Mostrar-tudo.png');
}

.xbimTest-icon-layer {
    background-image: url('../img/icons/layer.png');
}
.xbimTest-icon-print {
    background-image: url('../img/icons/print_icon.png');

}
.xbimTest-icon-background {
    background-image: url('../img/icons/background_color.png');

}
.xbimTest-icon-line-thickeness {
    background-image: url('../img/icons/thickness.png');

}
.xbimTest-icon-measurement {
    background-image: url('../img/icons/measure.png');

}
.xbimTest-icon-line {
    background-image: url('../img/icons/line_icon.png');

}
.xbimTest-icon-calibrate-measurement {
    background-image: url('../img/icons/calibrate_icon.png');

}
.xbimTest-icon-markup {
    background-image: url('../img/icons/mark-up_basictools.png');

}
.xbimTest-icon-compare {
    background-image: url('../img/icons/compare.png');

}
.xbimTest-icon-load-second {
    background-image: url('../img/icons/compare-submenu.png');

}
.xbimTest-icon-calibrate-toogle-ind {
    background-image: url('../img/icons/toogle_individually.png');

}
.xbimTest-icon-toogle-overlay-drawings {
    background-image: url('../img/icons/toogle_overlaid.png');

}
.xbimTest-icon-exit-compare {
    background-image: url('../img/icons/exit_compare.png');

}
.xbimTest-icon-previous-page {
    background-image: url('../img/icons/left_icon.png');

}
.xbimTest-icon-next-page {
    background-image: url('../img/icons/right_icon.png');

}
.xbimTest-icon-zoom-in {
    background-image: url('../img/icons/zoom_in.png');
    background-size: 28px 28px;
}
.xbimTest-icon-zoom-out {
    background-image: url('../img/icons/zoom_out.png');
    background-size: 28px 28px;
}
.xbimTest-icon-zoom-resize {
    background-image: url('../img/icons/zoom_resize.png');
    background-size: 28px 28px;
}

/*MARKUPS*/
.xbimTest-icon-markup-rectangle {
    background-image: url('../img/icons/rectangle.png');

}

.xbimTest-icon-markup-filled-rectangle {
    background-image: url('../img/icons/filled_rectangle.png');

}

.xbimTest-icon-markup-polyline {
    background-image: url('../img/icons/polyline.png');

}

.xbimTest-icon-markup-filled-polygon {
    background-image: url('../img/icons/filled_polygon.png');

}

.xbimTest-icon-markup-cloud {
    background-image: url('../img/icons/cloud.png');

}

.xbimTest-icon-markup-arrow {
    background-image: url('../img/icons/arrow.png');

}

.xbimTest-icon-markup-freehand {
    background-image: url('../img/icons/freehand.png');

}

.xbimTest-icon-markup-text {
    background-image: url('../img/icons/text.png');

}

.xbimTest-icon-markup-color {
    border: solid 2px #ffffff;
    border-radius:4px;
    /*background-color:#3F48CC;*/
    width:18px !important;
    height:17px !important;
    margin-top: 3px;
}

.xbimTest-icon-markup-undo {
    background-image: url('../img/icons/undo.png');

}

.xbimTest-icon-markup-public {
    background-image: url('../img/icons/public.png');

}

.xbimTest-icon-markup-private {
    background-image: url('../img/icons/private.png');

}

.xbimTest-icon-markup-save {
    background-image: url('../img/icons/save.png');

}

.xbimTest-icon-markup-exit {
    background-image: url('../img/icons/exit.png');

}

.xbimTest-icon-bg_preto {
    background-color: #000000 !important;
    border: solid 2px #ffffff;
    border-radius:4px;
    width:18px !important;
    height:17px !important;
    margin-top: 3px;
}

.xbimTest-icon-bg_branco {
    background-color: #FFFFFF !important;
    border: solid 2px #c5b1b1;    
    border-radius:4px;
    width:18px !important;
    height:17px !important;
    margin-top: 3px;
}

.xbimTest-icon-bg_cinza {
    background-color: #5A5A5A !important;
    border: solid 2px #ffffff;
    border-radius:4px;
    width:18px !important;
    height:17px !important;
    margin-top: 3px;
}

/* //////////////////////
   //SYTLE CONTAINER */

.xbimTest-body-viewer {
    background: #FFFFFF;
	font-family: ArtifaktElement, Helvetica Neue, Segoe UI Semilight, sans-serif;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: none;
	touch-action: none;
	position: absolute;
	z-index: 1;
}

.xbimTest-body-viewer .adsk-button-icon {
	display: inline-block;
	padding-top: 3px;
	font-size: 24px;
	line-height: 1;
	position: relative;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 50%;
}

.xbimTest-body-viewer .adsk-button {
	position: relative;
	float: left;
	cursor: pointer;
	width: 28px;
	height: 28px;
	padding: 6px;
	margin: 4px;
	border: 1px solid rgba(34, 34, 34, 0);
	border-radius: 4px;
}

.xbimTest-body-viewer.dark-theme .adsk-button.active, .xbimTest-body-viewer.dark-theme .adsk-button:focus {
	color: #00bfff;
	outline: none;
	border-radius: 3px;
	box-shadow: inset 0 2px 2px 0 #000;
}

.xbimTest-body-viewer.dark-theme .adsk-button:hover {
	color: #00bfff;
	border: 1px solid #00bfff;
}

.xbimTest-body-viewer.dark-theme {
	font-size: 14px;
}

.xbimTest-body-viewer.dark-theme.quality-text {
	text-rendering: geometricPrecision;
}

.xbimTest-body-viewer .adsk-toolbar {
	position: absolute;
	bottom: 10px;
	width: calc(100% - 20px);
	text-align: center;
	z-index: 5;
	pointer-events: none;
}


.xbimTest-body-viewer .adsk-control.xbimTest-hidden {
    display: none;
}

.xbimTest-body-viewer.dark-theme .adsk-control-group {
	color: #f4f4f4;
	background-color: rgba(34, 34, 34, .94);
	box-shadow: 1px 3px 10px 0 rgba(0, 0, 0, .5);
}

.adsk-control-group {
	display: inline-block;
	margin: 0 5px;
	border-radius: 5px;
	pointer-events: all;
}

.adsk-button-arrow {
	position: absolute;
	top: -5px;
	right: -5px;
}

.xbimTest-body-viewer * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.xbimTest-body-viewer.dark-theme .adsk-control-tooltip {
    color: #f4f4f4;
    background-color: rgba(34, 34, 34, .94);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    opacity: 1;
    border-radius: 3px
}

.xbimTest-body-viewer .adsk-control-tooltip {
    position: absolute;
    visibility: hidden;
    bottom: 120%;
    padding: 4px;
    z-index: 5;
    left: 0;
    font-size: 11px;
    text-align: center;
    text-transform: capitalize;
    line-height: 1.2;
    white-space: nowrap;
    opacity: 1;
    border-radius: 3px
}

.xbimTest-body-viewer .adsk-control:hover > .adsk-control-tooltip {

    visibility: visible;

}

.xbimTest-body-viewer .adsk-button > .toolbar-vertical-group {
	position: absolute;
	bottom: 125%;
	left: -5px;
	margin: 0;
	transition: all .2s ease;
	z-index: 1;
}
.xbimTest-body-viewer .notouch .adsk-button>.toolbar-vertical-group:hover~.adsk-control-tooltip {
    visibility: hidden
}

.xbimTest-body-viewer .adsk-button>.toolbar-vertical-group~.adsk-control-tooltip {
    left: 120%
}

.xbimTest-body-viewer .adsk-button>.toolbar-vertical-group>.adsk-button>.adsk-control-tooltip {
    left: 120%;
    bottom: 50%
}

.adsk-button-arrow {
    position: absolute;
    top: -5px;
    right: -5px
}

.adsk-button-arrow>.adsk-button-icon {
    font-size: 16px;
    margin-top: -5px;
}

.adsk-button-arrow>.adsk-button-icon:before {
    content: "\25B4";
    padding: 0 5px
}

.xbimTest-icon-comments {
    background-image: url('../img/icons/comments.png');
    background-size: 25px 19px;
}

.xbimTest-icon-info {
    background-image: url('../img/icons/info.png');
    background-size: 25px 25px;
}

.xbimTest-display-flex{
    display:flex; 
}

.xbimTest-flex-grow-1{
    flex-grow:1;
}

.xbimTest-font-size-14{
    font-size:14px !important;
}

.xbimTest-width-50{
    width:50px !important;
}

.xbimTest-body-viewer .adsk-label-button label {
    display: block;
    font-size: 12px;
    padding: 8px 10px;
    border-radius: 3px;
    cursor: pointer;
}